﻿@{
    ViewData["Title"] = "Прмер поиска на странице";
}


<form>
    <input class="place_for_search" type="text" id="text-to-find" value="" placeholder="Search" autofocus>
    <input id="btn-cancel" class="button_for_turn_back" type="button" value="Отменить поиск" title="Отменить поиск">
    <script>
        document.getElementById("btn-cancel").onclick = function ()
        {
            cleanOutSearch();
            return false;
        }
    </script>
    
    <input id="btn-search" class="button_for_search" type="submit" value="Начать поиск" title="Начать поиск">
    <script>
        document.getElementById("btn-search").onclick = function ()
        {
            var input = document.getElementById("text-to-find").value;
            findOnPage(input, "page");
            return false;
        }
    </script>
</form>

<div id="page">
    <p>
        It was a bright, cold day in April and the clocks were striking
        thirteen. Winston Smith hurried home to Victory Mansions w i th
        his head down to escape the terrible wind. A cloud of dust blew
        inside w i th him, and the hall smelled of dust and yesterday's food.
    </p>
    <p>
        At the end of the hall, a poster covered one wall. It showed an
        enormous face, more than a metre wide: the face of a handsome
        man of about forty-five, w i th a large, black moustache. The man's
        eyes seemed to follow Winston as he moved. Below the face were
        the words <b>BIG BROTHER IS WATCHING YOU</b>.
    </p>
    <h4>WAR IS PEACE</h4>
    <h4>FREEDOM IS SLAVERY</h4>
    <h4>IGNORANCE IS STRENGTH</h4>

</div>